
.nav{
  background-color: rgb(250, 157, 128);
  overflow: auto;
  width: 100%;
}
.nav a{
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin-top: -8px;
    font-size: 18px;
    width: 10%;
}

.nav a:hover{
    background-color: rgb(111, 218, 250);
    color: black;
}

.nav a.active{
    background-color: blanchedalmond;
    color: white;
}

.nav a{
    /* background-color: rgb(26, 189, 67); */
    
} 

.top{
    font-size: 50px;
    text-shadow: 0em;
    font-weight: bold;
    float: left;
    padding-left: 30px;
    padding-right: 20px;
    background-color: rgb(26, 189, 67);
    margin-top: -8px;
    margin-bottom: 16px;
    
}

#white{
    /* background-color: indianred; */
    padding: 15px
    
}


/* .container{
  position:relative;
  text-align: center;
  color: red;
  background-image: url(https://cdn.pixabay.com/photo/2014/04/02/17/03/freedom-307791_960_720.png); */
  /* background-repeat: no-repeat;
  background-size: cover;
  background-position: center; */
/* } */
/* .center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
} */
/* #heading {
  font-size: 32px;
  color: skyblue;
  padding-bottom: 200px;
  
}
#heading {
  font-family: cursive;
  font-weight: bolder;
  font: bolder;
  padding-left: 200px;
  padding-top: 300px;
  color: rgb(241, 12, 12);
  /* font-size: 60px; */
  
/* }  */

/* .secback{
 background-image: url(https://cdn.pixabay.com/photo/2014/04/02/17/03/freedom-307791_960_720.png);
 background-repeat: no-repeat;
 background-size: cover;
 position: relative;
 
} */

.red{
 color: red;
 text-align: center;
}
/* #red1{
 padding-top: 30%;
} */
.about{
 padding: 20px;
 margin-left: 40%;
 margin-top: 25%;
 position: relative;

}
#setwhite{
 background-color: white;
}

#apply{
 background-color: rgb(17, 117, 184);
 width: 250px;
 font-size: large;
 color: white;
 height: 60px;
 margin-left: 5%;
}
.right{
 
 display: flex;
}
/* #span {
  font-size: 85px;
  
  
} */
/* #c3 {
  font-size: 50px;
} */

.image1 {
  background-image: url(https://cdn.pixabay.com/photo/2019/09/24/09/58/marrakech-4500910_960_720.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
/* .c2 {
  padding: 10px;
  background-color: white;
  float: right;
  margin-top: -320px;
  width: 55%;
  padding: 5%;
  
  
} */
.value {
  margin-top: 100px;
}
#image2 {
  float: right;
  width: 80%;
  height: 550px;

}
#after {
  background-color: rgb(255, 255, 255);
  position: absolute;
  margin-top: 100px;
  height: 70%;
  width: 40%;
  margin-left: 60px;
  word-wrap: break-word;
 

}
.text{
  padding-left: 15%;
}
.c4 {
  font-size: 20px;
  color: rgb(54, 50, 50);
  font-family: "EB Garamond", serif;
  width: 300px;
  

}
.c41 {
  padding-right: 40px;
  width: 400px;
  
}
#value {
  font-size: 50px;
}

.boxwrap{
 
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;

}
.box4{
 border-style:ridge;
 border-width: 1px;
 border-color: firebrick;
 text-align: center;
 cursor: pointer;
}
.b4{
height: 10rem;
width: 10rem;
padding-top: 20px;
}